
<ion-view title="Current Location">
    <ion-header-bar >
        <ion-nav-buttons >
            <button class="button icon-left ion-chevron-left button-clear button-light" style="border-radius:18px;color:#fff"  ng-click="goBack();">Back</button>
        </ion-nav-buttons>
    </ion-header-bar>
    
   
    <ion-content >
       <div ng-if="mapView == false" ng-include src="'templates/partials/list.html'"></div>
       <div ng-if="mapView == true" ng-include src="'templates/partials/map.html'"></div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive" style="margin-left:-2%!important">
        <div class="tabs">
            <a class="tab-item" ng-click="isListView()">
                LIST VIEW
            </a>
            <a class="tab-item" ng-click="isMapView()">
                MAP VIEW
            </a>
           
        </div>
    </ion-footer-bar>
</ion-view>



