
<ion-view title="Dashboard">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content >
        <div class="padding has-header" style="padding-top:20px">
        
        <div class="padding">
            <button class="button button-block button-positive" style="border-radius:15px;" id="startTracking" ng-click="startTracking();">
                Start Tracking
            </button>
        </div>
        
        
        <div class="padding">
            <button class="button button-block button-positive" style="border-radius:15px;"  ng-click="viewRoute();">
                View Location
            </button>
        </div>
        
        <div class="padding">
            <button class="button button-block button-positive" style="border-radius:15px;"  ng-click="stopTracking();">
                Stop Tracking
            </button>
        </div>
            <!--
            <div class="padding">
                <button class="button button-block button-positive" style="border-radius:15px;"  ng-click="sendSMS();">
                    Send SMS
                </button>
            </div> -->

        </div>

           </ion-content>
    

</ion-view>
 
